body{
  background:#020617;
  color:#fff;
  font-family:Arial, sans-serif;
}

.box{
  max-width:600px;
  margin:40px auto;
  background:#020617;
  padding:25px;
  border-radius:12px;
  box-shadow:0 0 40px rgba(56,189,248,.3);
}

h1{
  color:#38bdf8;
  text-align:center;
}

input, select, textarea{
  width:100%;
  margin:8px 0;
  padding:12px;
  border:none;
  border-radius:6px;
}

textarea{
  height:260px;
}

button{
  width:100%;
  padding:12px;
  background:#38bdf8;
  border:none;
  color:#000;
  font-weight:bold;
  border-radius:6px;
  cursor:pointer;
}

button:hover{
  background:#0ea5e9;
}
